.column_right {
  float: right;
}

.column_left {
  float: left;
}

.left {
  float: left;
  border: black;
  padding: 10px;
}

.right {
  float: right;
}

.project {
  color: black;
}

h1 .a {
  color: aqua;
}
